
@{
    ViewBag.Title = "index";
}

<h2>index</h2>

@using (Html.BeginForm("NewTransaction", "AmazonPayment", FormMethod.Post))
{
<fieldset>
    <legend>Mandatory fields:</legend><br>

    orderTotalAmount: <input type="text" name="orderTotalAmount" value="1.00"><br>
    orderTotalCurrencyCode: <input type="text" name="orderTotalCurrencyCode" value="INR"><br>
    sellerOrderId:(handled by AmazonPaymentController)<br>
    startTime:(handled by AmazonPaymentController)<br>
</fieldset>
<fieldset>
    <legend>optional fields:</legend><br>
    isSandbox:(handled by AmazonPaymentController)<br>
    transactionTimeout:(handled by AmazonPaymentController)<br>
    customInformation: <input type="text" name="customInformation" value="productName"><br>
</fieldset>

    <input type="submit" value="submit">
}

